@use './src/styles/partials/global' as *;

@media (min-width: 1024px) {
    .bio__flex{
        display: flex;
        margin-left: $bio__margin-inline--wide;
        margin-right: $bio__margin-inline--wide;
            & > :nth-child(2) {
                padding-top: 1rem;
            }
    }

    .bio__flex--bodyComments{
        width: 80%;
        border-right: solid 1px $Mercury;
         

       
        
        
    }
}

